.idea
*.iml
/checkpoints
/lightning_logs
/figures
*.pyc
/models
*/__pycache__
/external/DeepChemStable
/data/preprocessing
**/*.log
**/logs/*
.vscode
/data/splits
/data/datasets/processing_logs
/data/datasets/registry.txt
/data/splits/registry.txt
*/prepared_data.csv
